<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QFCommentListDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5027F31E1C207225004C0CC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5027F3371C207225004C0CC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5027F3421C207225004C0CC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
